<li>
	{{burger_name}}

	<button type="button" class="change-devour btn btn-primary" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devoured}}Devoured already!{{else}}Eat it!{{/if}}
	</button>

</li>

