<li>
	{{burger_name}}

	<button type="button" class="btn btn-primary" change-devour data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devoured}}Devoured already!{{else}}Eat it!{{/if}}
	</button>

</li>

